vim/vim.symlink/.netrwhist
vim/vim.symlink/pack/*

atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink
.initialized

#TabNine
last_heartbeat
TabNineExample.toml
**/TabNine/tabnine_config.json
**/TabNine/3*/
**/TabNine/defaults/
**/TabNine/local.settings
**/TabNine/cloud.settings
**/TabNine/metrics.db
**/TabNine/monitoring/
**/TabNine/com.tabnine.data
**/TabNine/*user*
**/TabNine/*.bak
**/TabNine/*token

**/*.bak
